<!DOCTYPE html>
<html>
    <head>
        <title>Code Review</title>
        <script src="/vue/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class = "col jumbotron">
                    <h1>
                        Modified Files
                        <button data-toggle="modal" data-target="#modalAddFile" class="btn btn-primary" style="float:right;float:top;">Add</button>
                    </h1>
                </div>
            </div>
            <div class="modal fade" id="modalAddFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document" id="modalVue">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Please Select a File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="md-form" :action="'/fileupload/'+ reviewName" method="post" enctype="multipart/form-data" id="uploadFileForm">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input name="uploadFile" type="file" class="custom-file-input"  v-on:change="onChange" id="reviewFileInput" aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="reviewFileInput">Choose file</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="$('#uploadFileForm').submit()">Submit</button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row" id="reviewfiles">
                <div v-if="files.length > 0" class="col">
                    <ol>
                        <li v-for="file in files">
                            <a :href="'/ReviewFiles/reviewfile.html?fileName=' + file.Name"> {{ file.Name }} </a>
                        </li>
                    </ol>
                </div>
                <div v-else class="col">
                    <p>There are no modified files.</p>
                </div>
            </div>
        </div>
        <script src="reviewoverview.js"></script>
    </body>
</html>
